<!DOCTYPE html>
<html lang="en">
<<<<<<< HEAD

=======
>>>>>>> 40bcc426c69195d0e67bbdb63def64dc681468ae
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .book-item {
<<<<<<< HEAD
            width: 200px;
            /* Cố định chiều rộng */
            height: 280px;
            /* Cố định chiều cao để không bị kéo dài */
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            text-align: center;
            padding-top: 10px;
            /* Tạo khoảng cách nhỏ ở trên */
        }

        .img-book {
            height: 180px;
            /* Giữ nguyên kích thước hình ảnh */
            width: 130px;
            object-fit: cover;
        }

        .truncate {
            max-width: 90%;
            max-height: 100px;
            /* Giới hạn chiều cao tiêu đề */
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            /* Hiển thị tối đa 2 dòng */
            -webkit-box-orient: vertical;
            font-size: 14px;
            /* Giảm kích thước chữ nếu cần */
        }

        .container .row {
            justify-content: flex-start;
            gap: 20px;
            margin: auto;
        }

        .container:hover .book-item {
            opacity: 1;
        }

        /* Hiệu ứng hover từng sách */
        .book-item:hover {
            transform: scale(1.05);
            /* Phóng to hơn khi hover vào từng sách */
        }
    </style>
</head>

=======
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .truncate {
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        .img-book {
            height: 100px;
            width: 100px;
            object-fit: cover;
        }
    </style>
</head>
>>>>>>> 40bcc426c69195d0e67bbdb63def64dc681468ae
<body>
    <div class="container">
        <div class="row">
            {{#each books}}
<<<<<<< HEAD
            <a href="/home/book/{{BookID}}" class="col-md-2 col-sm-4 col-6 my-2 btn mx-2">
                <div class="card book-item">
                    <div class="card-body">
                        <img class="img-book" src="{{ImageURL}}" loading="lazy" alt="Hình ảnh sách">
                    </div>
                    <div class="btn truncate">{{Title}}</div>
                </div>
            </a>
=======
                <a href="/home/book/{{BookID}}" class="col-md-2 col-sm-4 col-6 my-2 btn mx-2">
                    <div class="card book-item">
                        <div class="card-body">
                            <img class="img-book" src="{{ImageURL}}" loading="lazy" alt="Hình ảnh sách">
                        </div>
                        <div class="btn truncate">{{Title}}</div>
                    </div>
                </a>
>>>>>>> 40bcc426c69195d0e67bbdb63def64dc681468ae
            {{/each}}
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
<<<<<<< HEAD

</html>
=======
</html>
>>>>>>> 40bcc426c69195d0e67bbdb63def64dc681468ae
